.home-container {
    background-image: url('https://preview.redd.it/okgz7rvpubj41.jpg?width=2500&format=pjpg&auto=webp&s=a4ae144c72ad1800a32ca48ad11b558662f862fe');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color:#eeddd4;
}


.shop-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.shop {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}