@font-face {
  font-family: 'Bernier Shade';
  src: url('./assets/fonts/berniershade_regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #eeddd4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
}



body {
  html, body {
    margin: 0;
    padding: 0;

  }
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}